{% extends 'base.html' %}

{% block content %}
    <div class="form-group" id="recipe-search">
        <form class="form-group" method="post" action="search">
            {{ form.hidden_tag() }}
            <p>
                {{ form.ingredients.label }}
                {{ form.ingredients(size=32) }}
            </p>
            <p>
                {{ form.submit }}
            </p>
        </form>
        <hr id="hr-find-recipes">
    </div>

    {% if payload %}
    <div id="srch-rslts-div">
        <h1>Results</h1>
        <div id="results-div">
            {% set count = [ ] %}
            {% for website, ingredients in payload.items() %}
            <h3>{{website}}</h3>
                {% for ingredient, recipes in ingredients.items() %}
                <h4>{{ingredient}}</h4>
                    <ol>
                    {% for recipe in recipes %}
                        <li>
                            <ul>
                                <form action="{{url_for('users.save_recipe')}}" method="post">
                                    {% set __ = count.append(1) %}
                                    <li class="recipe-title" id="recipe-title{{count|length}}">{{recipe.title}}</li>
                                    <input type="text" value="{{recipe.title}}" name="recipe-title" hidden>
                                    <li><img class="recipe-picture" src={{recipe.image}} width="100" height="100"></li>
                                    <li>
                                        <a href={{recipe.URL}}>Link to recipe</a>
                                    </li>
                                    <!--input type="text" id="recipe-url" value="{{recipe.URL}}" name="recipe-URL" hidden-->
                                    <li>
                                        {% if current_user.is_anonymous %}
                                        <p></p>
                                        {% else %}
                                        <button type="button" class="save-recipe-btn" data-title="recipe-title{{count|length}}" data-url="recipe-url{{count|length}}">Save Recipe</button>
                                        {% endif %}
                                    </li>
                                    <li id="recipe-url{{count|length}}" hidden>{{recipe.URL}}</li>
                                </form>
                            </ul>
                        </li>
                    {% endfor %}
                    </ol>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <script>
        $(function() {
            $('.save-recipe-btn').on('click', function() {
                var TitleObj = $(this).attr('data-title');
                var URLObj = $(this).attr('data-url');
                var recipeTitle = $('#' + TitleObj).text();
                var recipeURL = $('#' + URLObj).text();
                $.post("/users/recipes", {
                    title: recipeTitle,
                    url: recipeURL,
                    user: {{ current_user.id }}
                },
                function(data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
            });
        });
    </script>
    {% endif %}

{% endblock %}