{% extends 'base.html' %}

{% block content %}
    {% if payload %}
    <div id="srch-rslts-div">
        <h1 id="results-header">{{payload.title}}</h1>
        <h5>
            <a target="_blank" href="{{payload.URL}}">Link to Source Webstie</a>
        </h5>
        <div id="results-div">
            <img id="show-recipe-img" src="{{payload.image}}" width="500" height="500">
        </div>
        <div class="col">
            <h3 class="show-recipe-headers">Ingredients</h3><hr class="show-recipe-hr">
            <ul>
                {% for item in payload.ingredients %}
                <ol class="show-recipe-lists">{{item}}</ol>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h3 class="show-recipe-headers">Directions</h3><hr class="show-recipe-hr">
            <ul>
                {% for item in payload.instructions %}
                <ol class="show-recipe-lists">{{item}}</ol>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

{% endblock %}