{% extends 'base.html' %}

{% block content %}
    {% if payload %}
    <div id="srch-rslts-div">
        <h1 id="results-header">{{payload.title}}</h1>
        <h5>
            <a target="_blank" href="{{payload.URL}}">Link to Source Website</a>
        </h5>
        {% if current_user.is_anonymous %}
            <p></p>
            {% else %}
            <button type="button" class="save-recipe-button" data-title="{{ payload.title }}" data-url="{{ payload.URL }}">Save Recipe</button>
            {% endif %}
        <div id="results-div">
            <img id="show-recipe-img" src="{{payload.image}}" width="500" height="500">
        </div>
        <div class="col">
            <h3 class="show-recipe-headers">Ingredients</h3><hr class="show-recipe-hr">
            <ul>
                {% for item in payload.ingredients %}
                <ol class="show-recipe-lists">{{item}}</ol>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h3 class="show-recipe-headers">Directions</h3><hr class="show-recipe-hr">
            <ul>
                {% for item in payload.instructions %}
                <ul class="show-recipe-lists">{{item}}</ul>
                {% endfor %}
            </ul>
        </div>
    </div>
        <script>
        $(function() {
            $('.save-recipe-button').click(function() {
                let button = $(this);
                let recipeTitle = $(this).attr('data-title');
                //console.log($(this).attr('data-rating'));
                let recipeURL = $(this).attr('data-url');
                $.post("/users/recipes", {
                    title: recipeTitle,
                    url: recipeURL,
                    user: {{ current_user.id }}
                },
                function(data, status) {
                    if (status === 'success') {
                        button.toggle();
                    }
                    else {
                        alert("Error with saving recipe.\nStatus: " + status);
                    }
                });
            });
        });
    </script>
    {% endif %}

{% endblock %}