html, body {
    height: 100%
}
.outer-container{
    margin:1em;
    border: 2px solid black;
    overflow: auto;
    height: 100%;
}

.jumbotron {
    padding: 0em;
    margin-bottom: 0em;
}

.carousel-image {
    max-height: 250px;
}

.carousel-caption {
    position: absolute;
    bottom: 40%;
}

.carousel-caption .carousel-words {
    text-shadow: 1px 2px 2px black;
    line-height: 40%;
}

.carousel-hr {
    border: 1px solid white;
}

.navbar {
    padding: 0rem;
}

#sticky-footer {
    flex-shrink: 0;
}

.pb-4, .py-4 {
    padding-bottom: .5rem!important;
}

.pt-4, .py-4 {
    padding-top: .5rem!important;
}