html, body {
    height: 100%
}

body {
    background-color: #a3a3c2;
}

.btn {
    margin-top: 1rem;
    margin-left: 1rem;
}

.fa-user-minus {
    margin-left: .5rem;
}

.dark-link {
    color: white;
}

.outer-container{
    margin:1em;
    border: 1px solid black;
    overflow: auto;
    height: 100%;
    background-color: #ccf2ff;
}

.login-error-div {
    width: 40%;
    border: 3px solid #930202;
    background-color: #f76d6d;
    color: #930202;
    padding: 10px;
}

.login-error-p {
    margin: 0;
}

.register-error-div {
    width: 400px;
    border: 3px solid #930202;
    background-color: #f76d6d;
    color: #930202;
    padding: 10px;
}

.register-error-p {
    margin: 0;
}

.jumbotron {
    padding: 0em;
    margin-bottom: 0em;
}

.carousel-image {
    max-height: 250px;
}

.carousel-caption {
    position: absolute;
    bottom: 40%;
    font-family: 'Kaushan Script', cursive;
}

.carousel-caption .carousel-words {
    text-shadow: 1px 2px 2px black;
    line-height: 40%;
}

.carousel-hr {
    border: 1px solid white;
}

.navbar {
    padding: 0;
    background-color: #e3f2fd;
    border: 1px solid black;
}

.my-tasks {
    position: relative;
}

#dropdown {
    background-color: silver;
    color: black;
    list-style: none;
    top: 100%;
    border: black 1px solid;
}

#dropdown > li {
    transition: all 0.8s ease;
}

.dropdown-li:hover {
    cursor: pointer;
    background-color: azure;
}

.nav-link {
    padding: 0;
    position: relative;
}

.navbar-text {
    padding-right: 1rem;
    position: relative;
}

#verify-password-label {
    padding: 1px;
    text-align: right;
    font-size: small;
    width: 319px;
}

#dropdown {
    display: none;
    position: absolute;
    width: 200%;
    padding: 10px 15px;
    left: 0;
}

#my-tasks-span.active {
    background-color: white;
    color: black;
}

#dropdown.active {
    display: block;
}

#default-li-1 {
    display: none;
}

#default-li-1.tasked {
    display: block;
    border-bottom: black 1px solid;
}

#default-li-2 {
    display: none;
}

#default-li-2.tasked {
    display: block;
    border-bottom: black 1px solid;
}

#default-li-3 {
    display: none;
}

#default-li-3.tasked {
    display: block;
    border-bottom: black 1px solid;
}

#default-li-4 {
    display: none;
}

#default-li-4.tasked {
    display: block;
    border-bottom: black 1px solid;
}

#default-li-5 {
    display: block;
}

#sticky-footer {
    flex-shrink: 0;
}

.pb-4, .py-4 {
    padding-bottom: .5rem!important;
}

.pt-4, .py-4 {
    padding-top: .5rem!important;
}

/* Styles for home.html */
.vertical-line {
    height: 390px;
    border: 1px solid black;
}

#hr-home {
    border: 1px dashed black;
    margin-top: 0;
}

.col {
    margin: 1rem;
    padding-left: 30px;
    padding-right: 30px;
}

/* Styles for user.html */
#hr-user {
    width: 50%;
    margin-left: 0;
    margin-top: 0;
    border: 1px solid black;
}

#edit-profile-link {
    text-decoration: underline;
}

#delete-account-link {
    text-decoration: underline;
    margin-left: 1rem;
}

/* Styles for edit_profile.html */
.cancel-link {
    text-decoration: underline;
}

/* Styles for find_recipes.html */
#recipe-search {
    margin: 1.5rem 1.5rem 1rem 1.5rem;
}

#ingredient-search-btn {
    margin-top: .5rem;
}

#find-recipe-search-box {
    margin: 0rem;
}

.find-recipe-checkbox-labels {
    margin: 0rem 1rem 0.25rem 0.5rem;
}

#find-recipe-submit-btn {
    margin: 0rem;
}

#ing-srch-btn-div {
    float: right;
    display: inline-block;
}

#hr-find-recipes {
    border: 1px solid black;
    margin-top: 1rem
}

#srch-rslts-div {
    text-align: center;
}

#results-header {
    font-family: 'Kaushan Script', cursive;
}

#website-name {
    margin-top: 2rem;
    text-align: left;
    font-family: 'Kaushan Script', cursive;
}

#ingredient-name {
    text-align: left;
    font-family: 'Kaushan Script', cursive;
    clear: left;
}

#results-hr {
    border: 1px solid black;
    margin-top: .5rem;
    width: 25%;
    margin-left: 0;
}

#results-ol {
    padding-inline-start: 20px;
}

.li-number {
    clear: left;
}

.recipe-title {
    text-align: left;
    margin-bottom: 0.5rem;
}

.rcp-picture {
    text-align: left;
}

.recipe-picture {
    float: left;
    margin: 0rem 1rem 1rem 1rem;
}

.recipe-link {
    text-align: left;
    margin-bottom: 0.5rem;
}

.recipe-rating {
    text-align: left;
}

.save-recipe-btn {
    float: right;
    margin-top: -75px;
}

/* Styles for show_recipe */
.show-recipe-headers {
    text-align: left;
    font-family: 'Kaushan Script', cursive;
}

.show-recipe-hr {
    border: 1px solid black;
    margin-top: .5rem;
    width: 25%;
    margin-left: 0;
}

.show-recipe-lists {
    text-align: left;
}

#show-recipe-img {
    width: 150px;
    height: 150px;
    margin-top: .5rem;
    margin-left: 0;
}

/* Styles for my_recipes */
#my-recipes-header {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

#my-recipes-hr {
    border: 1px solid black;
    width: 25%;
    margin-top: .5rem;
}

.recipe-link-my-recipes {
    text-align: left;
}

.del-recipe-btn {
    float: right;
    margin-top: -50px;
    margin-right: 1rem;
}

/* Styles for pantry_list */
#pantry-header {
    font-family: 'Kaushan Script', cursive;
}

#pantry-list-hr {
    border: 1px solid black;
    width: 25%;
    margin-top: .5rem;
    margin-left: 0;
}

.cancel-btn {
    margin-left: .5rem;
}

.add-item {
    margin-bottom: 1rem;
}

.remove-pantry-item-btn {
    float: right;
    margin-top: -20px;
    margin-right: 1rem;
}

.pantry-item-list {
    margin-top: 1rem;
}