{% extends 'base.html' %}

{% block content %}
    <div class="col">
        <h1>Edit Profile</h1>
        <div class="form-group">
            <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </p>
            <p>
                {{ form.submit }}
            </p>
        </form>
        </div>
        {% if payload.message %}
        <p>
        {{payload.message}}
        </p>
        {% endif %}
        <h4>Two-Factor Authentication</h4>
        <p>
        {% if payload.twofa == False %}
        <a class="cancel-link" href="{{ url_for('users.two_factor_setup', user_id=current_user.id) }}">Setup Two Factor Authentication</a>
        {% else %}
        <a class="cancel-link" href="{{ url_for('users.two_factor_remove', user_id=current_user.id) }}">Cancel Two Factor Authentication</a>
        {% endif %}
        </p>
        <a class="cancel-link" href="{{ url_for('users.user', username=current_user.username) }}">Cancel</a>
    </div>
{% endblock %}