{% extends 'base.html' %}

{% block content %}
    <h1 id="my-recipes-header">My Recipes</h1><hr id="my-recipes-hr">
    {% if recipes %}
    {% set count = [ ] %}
    <div id="my-recipes-main-div">
        <div id="results-div">
            {% for recipe in recipes %}
            {% set __ = count.append(1) %}
            <ul>
                    <li class="recipe-title" id="recipe-title{{count|length}}">
                        <a href="{{url_for('recipes.view_recipe')}}?url={{recipe.source_url}}&type={{recipe.type_recipe}}">{{recipe.recipe_name}}</a>
                    </li>
                <li>
                    <a class="recipe-link-my-recipes" href={{recipe.source_url}}>Link to recipe</a>
                </li>
                <li id="recipe-url{{count|length}}" hidden>{{recipe.source_url}}</li>
                <li id="recipe-id{{count|length}}" hidden>{{recipe.id}}</li>
                <button type="button" class="del-recipe-btn" data-id="recipe-id{{count|length}}" data-url="recipe-url{{count|length}}">Remove Recipe</button>
            </ul>
            {% endfor %}
        </div>
    </div>
    <script>
        $(function() {
            $('.del-recipe-btn').on('click', function() {
                var IdObj = $(this).attr('data-id');
                var recipeId = $('#' + IdObj).text();
                var URLObj = $(this).attr('data-url');
                var recipeURL = $('#' + URLObj).text();
                $.ajax({
                    url: "/users/recipes/" + recipeId,
                    type: "DELETE",
                    success: function(data, status) {
                        location.reload(true);
                    }
                });
            });
        });
    </script>
    {% endif %}

{% endblock %}