{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="row">
            <div class="col">
                <h6>Log In</h6>
                <form action="{{ url_for('users.register') }}" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                    </p>
                    <p>
                        {{ form.verify_password.label }}<br>
                        {{ form.verify_password(size=32) }}
                    </p>
                    <p>
                        {{ form.submit() }}
                    </p>
                </form>
            </div>
            <div class="w-100"></div>
        </div>
    </div>
{% endblock %}