{% extends 'base.html' %}

{% block content %}
    <div class="col">
        <h3>Welcome, {{ user.username }}</h3>
        <hr id="hr-user"><br>
        <h6>Username: {{ user.username }}</h6><br>
        <h6>Email: {{ user.email_addr }}</h6><br>
        <h6>Last Seen: {{ user.last_seen }}</h6><br>
        <h6>Total Recipes: {{ total_recipes }}</h6><br>
        <h6>Total Pantry Items: {{ total_pantry }}</h6><br>
    </div>
    <div class="col">
        <a id="edit-profile-link" href="{{ url_for('users.edit_profile') }}">Edit Profile</a>
        <a id="delete-account-link" href="{{ url_for('users.delete_profile') }}">Delete Account</a>
    </div>

{% endblock %}