{% extends 'base.html' %}

{% block content %}
    {% if payload %}
    <div class="row">
        <div id="pantry-div" class="col">
        <h1 id="pantry-header">{{ user.username }}'s Pantry</h1><hr id="pantry-list-hr">
        <button id="add-items-btn">Add Items To Your Pantry</button>
        <div id="pantry-form-div">
        </div>
        <!--form id="add-item-form">
            Add Item: <input type="text" class="pantry-item" id="pantry-item-1" placeholder="Enter item here...">
            <button type="submit">Submit</button>
            <button id="cancel-btn">Cancel</button>
        </form-->
        {% if payload.pantry %}
        <div>
            {{payload.message}}
        </div>
        <div>
            <ol>
                {% for item in payload.pantry %}
                <li class="pantry-item-list">{{item.name}}</li>
                    <button type="button" class="remove-pantry-item-btn" onclick="deleteItem({{item.id}});"><i class="fa fa-close"></i></button>
                {% endfor %}
            </ol>
            <form class="hidden-form" id="hidden-form" method="post" action="{{url_for('recipes.user_find_recipes', user_id=current_user.id)}}">
                <input type="hidden" name="ingredients" value="{% for item in payload.pantry %}{{item.name}}, {% endfor %}">
                <input type="hidden" name="allRecipes" value="True">
                <button type="submit" id="make-btn">What Can I Make?</button>
            </form>
        </div>
        {% else %}
        <div>
            {{payload.message}}
        </div>
        {% endif %}
        </div>
    </div>
    {% endif %}

    <script>
        $(function() {
            $("#add-items-btn").click(function() {
                if ($("#add-item-form").is(":visible")) {
                    $("#add-item-form").remove();
                    $("#add-items-btn").text("Add Items To Your Pantry");
                }
                else {
                    $("#pantry-form-div").append('<p><form id="add-item-form"><section id="item-entry"><p class="pantry-para" id="pantry-para-1" data-count="1">Add Item: <input type="text" class="pantry-item" id="pantry-item-1" name="item-' + '1' + '" placeholder="Enter item here..."><button type="button" class="cancel-btn" data-item="pantry-item-1" onclick="removeItem(1);">Remove</button></p></section><section><button type="button" class="add-item" onclick="addItem();">Add Another Pantry Item</button></section><seciton><button type="button" onclick="submitForm()">Submit</button></section</form><p>');
                    $("#add-items-btn").text("Undo add pantry item(s)");
                }
            });
        });

        function removeItem(num) {
            console.log("Button pressed!");
            var itemCount = parseInt($(".pantry-para").last().attr('data-count'));
            console.log(itemCount);
            if (itemCount == 1) {
                $("#add-item-form").remove();
                $("#add-items-btn").text("Add Items To Your Pantry");
            }
            else {
                console.log(num);
                $("#pantry-para-" + num).remove();
                var newNum = 1;
                $(".pantry-para").each(function() {
                    console.log("newNum is: " + newNum);
                    $(this).attr("id", "pantry-para-" + newNum);
                    $(this).attr("data-count", newNum);
                    newNum++;
                });
            }
        }

        function addItem() {
            var itemCount = parseInt($(".pantry-para").last().attr('data-count'));
            itemCount++;
            console.log(itemCount);
            $("#item-entry").append('<p class="pantry-para" id="pantry-para-' + itemCount + '"  data-count="' + itemCount + '">Add Item: <input type="text" class="pantry-item" id="pantry-item-' + itemCount + '" name="item-' + itemCount + '" placeholder="Enter item here..."><button type="button" class="cancel-btn" data-item="pantry-item-' + itemCount + '" onclick="removeItem(' + itemCount + ');">Remove</button></p>');
        }

        function submitForm() {
            var formData = JSON.stringify($("#add-item-form").serializeArray());
            $.ajax({
                type: "POST",
                url: "{{url_for('pantry.view_pantry')}}",
                data: formData,
                dataType: "json",
                contentType : "application/json",
                error: function(error) {
                    location.reload(true);
                }
            });
        }

        function deleteItem(itemId) {
            $.ajax({
                url: "/pantry/" + itemId,
                type: "DELETE",
                success: function(data, status) {
                    location.href = "{{url_for('pantry.view_pantry')}}";
                }
            });
        }
    </script>

{% endblock %}