<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>The Neighborhood Cookbook: {{ title }}</title>
    {% else %}
        <title>Welcome to the Neighborhood Cookbook</title>
    {% endif %}
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="outer-container">
        <div class="jumbotron">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="6000">
                        <img src="../static/imgs/robin-stickel-tzl1UCXg5Es-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="6000">
                        <img src="../static/imgs/calum-lewis-vA1L1jRTM70-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="6000">
                        <img src="../static/imgs/zahrin-lukman-FYc-qfATAk4-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Bootstrap JQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>