<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>The Neighborhood Cookbook: {{ title }}</title>
    {% else %}
        <title>Welcome to the Neighborhood Cookbook</title>
    {% endif %}
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="outer-container">
        <!--Jumbotron start-->
        <div class="jumbotron">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="6000">
                        <img src="../static/imgs/robin-stickel-tzl1UCXg5Es-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
                        <div class="carousel-caption">
                            <h1 class="carousel-words">The Neighborhood Cookbook</h1>
                            <hr class="carousel-hr">
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="6000">
                        <img src="../static/imgs/calum-lewis-vA1L1jRTM70-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
                        <div class="carousel-caption">
                            <h1 class="carousel-words">The Neighborhood Cookbook</h1>
                            <hr class="carousel-hr">
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="6000">
                        <img src="../static/imgs/zahrin-lukman-FYc-qfATAk4-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
                        <div class="carousel-caption">
                            <h1 class="carousel-words">The Neighborhood Cookbook</h1>
                            <hr class="carousel-hr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Jumbotron end-->
        <!--Navbar start-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_pantry') }}">My Pantry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Find Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Account</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if current_user.is_anonymous %}
                    <a class="nav-link" href="#">Register</a>
                    {% else %}
                    <a class="nav-link" href="#">Log Out</a><i class="fas fa-user-minus"></i>
                    {% endif %}
                </span>
            </div>
        </nav>
        <!--Navbar end-->

        <!--Block content-->
        {% block content %}{% endblock %}

    </div>

    <!--Footer-->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; 2020: The Neighborhood Cookbook</small>
        </div>
    </footer>

    <!--Bootstrap JQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4e0dd0a3a0.js" crossorigin="anonymous"></script>
</body>
</html>